@font-face{
font-family:Montserrat;
src:url(../fonts/Montserrat-Regular.otf);
}

@font-face{
font-family:MontserratLight;
src:url(../fonts/Montserrat-Hairline.otf);
}
@font-face{
font-family:ProximaNova;
src:url(../fonts/ProximaNovaCondensedRegular.otf);
}

@font-face{
font-family:ProximaNovaLight;
src:url(../fonts/ProximaNovaThin.otf);
}


*{
padding:0;
margin:0;
}

body{
padding-top:200px;
width:100vw;
background:url('../img/bg.jpg') center fixed;
background-size:cover;
background-repeat:no-repeat;

}
.navbar{
padding-top:4.5vw;
background:none;
border:none;

}

.texte {
color:white;
font-family:Montserrat;

}

.texte h1{

font-size:10vh;
font-weight: bold;
letter-spacing:0.1em;

}

.texte h2{
letter-spacing:1px;
line-height:1.5em;
margin-top:3vw;
font-size:1.7em;
font-family:ProximaNovaLight,serif;
color:#aeaeae;
}

.navbar-header{
background-color:white; 
border-radius:100%;

}
.logo {
width:100px;
height:100px;
background:url('../img/logo-arrow.svg');
background-repeat:no-repeat;
background-size:48px 48px;
background-position:center;
border-radius:100%;
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
     
}

.logo:hover{
 -webkit-transform:rotate(-360deg);
-moz-transform:rotate(-360deg);
}

.menu li{
height:60px;
text-align:center;
margin-left:2vw;
}

.menu a:hover{
color:#f17e58;

}

.production{
margin-top:3.5vh;
width:325px;
height:80px;
text-align:center;
line-height:80px;
letter-spacing:0.1em;
font-size:1.2em;
border:solid 3px white;
color:white;
}

.production:hover{
border-color:#f17e58;
}

.row a {
text-decoration:none;
}


.glisse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;

}
.glisse:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#f17e58;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.glisse:hover, .glisse:focus, .glisse:active {
  color: white;
  border-color:#f17e58;
  
}
.glisse:hover:before, .glisse:focus:before, .glisse:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.colore{
color:#f17e58;
}

a{
text-decoration:none;

}
ul{
font-family:ProximaNova;
letter-spacing:0.2em;
height:100px;
}
.menu{
color:white;
margin-top:2.5vw;
margin-right:10vw;
letter-spacing:2.5px;
}
.menu a{
color:white;
text-decoration:none;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
}

li{
display: inline-block;
}

footer{
position:fixed;
left:0px;
bottom:0px;
height:30px;
width:100vw;
margin-bottom:10px;
}

.logoFoot{
height:13.5px;
margin-right:5vw;
}

.footnav{
margin-right:7vw;

height:20px;
letter-spacing:1px;
}
.footnav a{
text-decoration:none;
color:grey;
-webkit-transition:all 0.5s ease; 
-moz-transition:all 0.5s ease; 

}
.footnav a:hover{
color:white;

}
.footnav img{
height:15px;
}

.footnav li{
margin-right:1vw;
}




@media(max-width:992px){

.texte h1{
font-size:6vh;
}

.texte h2{
font-size:1.2em;
}

}



@media(max-width:768px){



.navbar{
background-color:white;
padding-top:0vh;
}
.navbar-toggle{
margin-top:5vh;
border:none;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
border:none;

}

.navbar-default .navbar-toggle .icon-bar{
background-color:#f17e58;
}
.menu{
height: auto;
width:100%;

}

.menu a{
color:black;
-webkit-transition: all 0.5s ease;

}

.menu li{
height:40px;
text-align:left;
display:block;
}
.menu a:hover{
color:#f17e58;
-webkit-transition: all 0.5s ease;

}

}

@media (min-width: 480px) and (max-width:768px) {

.texte h1{
font-size:5vh;
}

.texte h2{
margin-top:5vh;
font-size:1.2em;
}

.production{
margin-top:5vh;
width:220px;
height:50px;
line-height:6vh;

}

}

@media (max-width:480px){

.texte h1{
font-size:3vh;
}

.texte h2{
margin-top:2vh;
font-size:1.5em;
}

.production{
width:200px;
font-size:1em;

}

}
